/* This block of code hides the horizontal scrollbar on the page. */
body,
html {
  overflow-x: hidden;
}

/* Sign-up Styles */
/* It sets the background image and size, and sets the height to 90% of the viewport height. */
.signup__image--container {
  background-image: url(https://images.unsplash.com/photo-1612690669207-fed642192c40?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8dGVjaHxlbnwwfDF8MHx3aGl0ZXw%3D&auto=format&fit=crop&w=800&q=60);
  height: 90vh;
  background-size: cover;
}

/* This block of code contains styles for the sign-up form container.
It centers the container and sets the height to 100% of the viewport height. */
.signup__form--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}
/* End of Sign-up Styles */

/* Login Styles */
/* It sets the background image and size, and sets the height to 90% of the viewport height. */
.login__image--container {
  background-image: url(https://images.unsplash.com/photo-1535223289827-42f1e9919769?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
  height: 90vh;
  background-size: cover;
}

/* It centers the container and sets the height to 100% of the viewport height. */
.login__form--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}
/* End of Login Styles */

/* Home Styles */
.category-tile {
  height: 250px;
  background-size: cover;
  background-position: center;
  padding-left: 20px !important;
  padding-right: 20px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 30px;
}

.card {
  border: none !important;
  width: 15rem !important;
}

img.card-img-top.product-preview-img {
  border-radius: 10px;
}

.category-tile:hover {
  transform: scale(1.05);
}

.sale__banner--container img {
  max-width: 1200px;
  display: block;
  margin: 0 auto;
}

/* Logout button design */
.logout-btn {
  margin: 0 auto;
  display: block !important;
}

.logo {
  width: 50px;
}

/* Product styles */
.images-preview-container {
  display: grid;
  grid-template-columns: repeat(auto-fill), minmax((min(100px, 100%), 1fr));
  gap: 10px;
  margin-top: 40px;
}

.image-preview {
  width: 100px;
  display: inline-block;
  position: relative;
}

.image-preview img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.image-preview i,
.remove-img-spinner {
  position: absolute;
  top: -12px;
  left: -12px;
  font-size: 20px;
  cursor: pointer;
}

.image-preview i:hover {
  color: orange;
}

.new-product__image--container {
  background-image: url(https://images.unsplash.com/photo-1652773899966-583e9d2f2fb0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzR8fHRlY2h8ZW58MHwxfDB8d2hpdGV8&auto=format&fit=crop&w=800&q=60);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

/* Product Page */
.product__carousel--image {
  max-width: 100%;
  object-fit: cover;
  max-height: 500px;
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
  display: none !important;
}

/* Category Page */
.category-page-container {
  min-height: 90vh;
}

.category-banner-container {
  height: 200px;
  background-color: #182e39;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* Navigation Design */
#cartcount {
  font-size: 10px;
  background-color: red;
  color: white;
  padding: 2px 4px;
  vertical-align: top;
  margin-left: -8px;
  border-radius: 50%;
  margin-top: -5px;
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  border-radius: 9px;
}

.fa-shopping-cart {
  font-size: 20px;
}

/* Cart Page Design */
.fa-plus-circle,
.fa-minus-circle {
  cursor: pointer;
  display: inline-block;
}

.fa-plus-circle {
  margin-left: 5px;
}

.fa-minus-circle {
  margin-right: 5px;
}

.table-responsive-sm {
  max-height: 70vh;
  overflow: hidden;
}

/* Order Page Styles */

/* Admin Dashboard Styles */

/* Dashboard Products Styles */
.dashboard-product-preview {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

media screen and (max-width: 756px) {
  .login__image--container,
  .signup__image--container {
    display: none;
  }
}
