/* Centers text in the element with the .App class */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin; /* Sets the height of the element with the .App-logo class to 40% of the viewport height */
  pointer-events: none; /* Disables pointer events on the element with the .App-logo class */
}

@media (prefers-reduced-motion: no-preference) {
  /* Applies the following styles if the user has not requested reduced motion preferences in their browser */
  .App-logo {
    animation: App-logo-spin infinite 20s linear; /* Applies an infinite spinning animation to the element with the .App-logo class */
  }
}

.App-header {
  background-color: #282c34; /* Sets the background color of the element with the .App-header class to dark gray */
  min-height: 100vh; /* Sets the minimum height of the element with the .App-header class to 100% of the viewport height */
  display: flex; /* Specifies that the element with the .App-header class is a flex container */
  flex-direction: column; /* Specifies that the flex items in the element with the .App-header class should be arranged in a column */
  align-items: center; /* Centers the flex items horizontally within the element with the .App-header class */
  justify-content: center; /* Centers the flex items vertically within the element with the .App-header class */
  font-size: calc(
    10px + 2vmin
  ); /* Sets the font size of the text within the element with the .App-header class to a minimum of 10px plus 2% of the viewport height */
  color: white; /* Sets the text color within the element with the .App-header class to white */
}

.App-link {
  color: #61dafb; /* Sets the color of links within the element with the .App-link class to light blue */
}

@keyframes App-logo-spin {
  /* Defines a keyframe animation called App-logo-spin */
  from {
    /* Specifies the starting state of the animation */
    transform: rotate(0deg); /* Rotates the element to 0 degrees */
  }
  to {
    /* Specifies the ending state of the animation */
    transform: rotate(360deg); /* Rotates the element to 360 degrees */
  }
}
