/* Set global styles for the entire page */
body {
  /* Remove margin from body element */
  margin: 0;
  /* Set font family for body text */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* Smooth fonts on Mac/iOS devices */
  -webkit-font-smoothing: antialiased;
  /* Smooth fonts on Firefox */
  -moz-osx-font-smoothing: grayscale;
}

/* Set styles for inline code elements */
code {
  /* Set font family for code text */
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
